<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.planngo.mapper.nBoardMapper">

	<!-- <select id="selectNoticeList" resultType="org.planngo.domain.NoticeVO"> 
		SELECT noticecode , noticecontent , noticetitle , regdate , usrcode FROM 
		notice ORDER BY noticecode DESC </select> -->


	<sql id="search">

		<if test="searchType != null"></if>
		<if test="searchType == 't'.toString()">
			NOTICETITLE like '%'|| #{keyword} || '%' AND
		</if>

	</sql>


	<select id="listSearchCriteria"
		resultType="org.planngo.domain.NoticeVO">
		<![CDATA[  
			SELECT *
		  	FROM (
 		 		SELECT ROWNUM NUM,
  				N.*
  				FROM NOTICE N
  				ORDER BY NOTICECODE DESC)
  				WHERE 
		]]>
		
		<include refid="search"></include>
  
		<![CDATA[    
  			NUM BETWEEN #{pageStart} AND #{perPageNum}
		]]>
	</select>
</mapper>
